body {
    background-color: #303030;
    color: #ffffff;
    margin: 0;
}

.wrapper {
    width: 100%;
}

.header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}


.log {
    text-align: center;
    font-size: 64px;
}

#logo {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.www {
    color: #C34F4F;
}

.nav {
    margin-top: 35px;
    width: 100%;
    background-color: #C34F4F;
    text-align: center;
}

.navi {
    float: left;
    padding: 20px;
    color: white;
    width: 17%;
    border-right: 2px dotted #751B1B;
    font-size: 20px;
}

.navi:hover {
    text-decoration: underline;
    cursor: pointer;
}

.content {
    width: 80%;
    text-align: justify;
    font-size: 16px;
    margin-top: 70px;
    margin-right: 10%;
    margin-left: 10%;
}

.js {
    margin: 30px 15% 0px 15%;
    text-align: center;

}

.button1 {
    float: left;
    width: 50%;
}

.social {
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

.social>* {
    transition: .4s linear;
}

.fb {
    width: 25%;
    float: left;
    height: 75px;
    background-color: #292929;
}

.fb:hover {
    background-color: #4668B3;
}

.yt {
    width: 25%;
    float: left;
    height: 75px;
    background-color: #292929;
}

.yt:hover {
    background-color: #D94348;
}

.gt {
    width: 25%;
    float: left;
    height: 75px;
    background-color: #292929;
}

.gt:hover {
    background-color: #000000;
}

.tw {
    width: 25%;
    float: left;
    height: 75px;
    background-color: #292929;
}

.tw:hover {
    background-color: #3095D3;
}

.footer {
    margin-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:link {
    color: white;
}