html {
    background-color: #abc;
}

#zdj {
    float: left;
    padding: 20px;
    border-right: 2px dotted #404040;
}

#imge {
    width: 100px;
    height: 100px;
}

#teksty {
    float: left;
    padding: 40px;
    width: 80%;
}

#akapit {
    padding: 30px;
    background-color: #abe;
    overflow: auto;
    margin: 40px;

}

#czerwony {
    color: red;
    margin-bottom: 30px;
}

#czcionka {
    text-align: center;
    font-size: 60px;
    text-shadow: 5px 5px 10px orange;
}

h1 {
    box-sizing: border-box;
    font-size: 90px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    border-left: 20px solid red;
    border-right: 20px solid red;
    width: 100%;
}

#marginesy {
    max-width: 30%;
    max-height: 30%;
}

#margines {
    text-align: center;
    padding: 35px;
    border: solid 7px blue;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
    background-color: aquamarine;
}

#js {
    text-align: center;
    font-size: 35px;
    border: solid 5px orange;
    margin-left: 10%;
    margin-right: 10%;
    background-color: yellow;
    margin-bottom: 50px;
    padding-bottom: 20px;
    overflow: auto;
}

.przycisk1 {
    font-size: 20px;
    border: solid 2px darkorange;
    background-color: orange;
    padding: 6px;
    border-radius: 12px;
    transition: .3s ease;
}

.przycisk1:hover {
    background-color: white;
    border-color: solid 2px darkorange;
    cursor: pointer;
}

.button1 {
    margin: 0 auto;
    float: left;
    padding: 10px;
    text-align: center;
    width: 45%;
}

a:link {
    color: yellow;
}

a:visited {
    color: orange;
}

a:hover {
    color: red;
}